<% if flash[:fail] %>
    <div class="flashFail"><%= flash[:fail] %></div>
<% end %>

<%= form_for @user, url: signin_path, html: {class: 'userForm'} do |f| %>
    <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <h1 class="userInfoTitle">Login</h1>
    <div class="registerDiv">
      <article class="full">
        <%=  f.label :username %>
        <%=  f.text_field :username %>
      </article>
    </div>
    <div class="registerDiv">
      <article class="full">
        <%=  f.label :password %>
        <%=  f.password_field :password %>
      </article>
    </div>
      <hr>
    <div class="registerDiv">
      <article class="submitButton" >
        <%= f.submit 'LOGIN'%>
      </article>
    </div>
    <hr>
<% end %>