<ul>
  <li>
    <br>

    <div class="rant">
      <article class="ranter">
        <div class="name">
          <h3><%= favorite.rant.user.first_name.capitalize %></h3>
        </div>
        <div class="image">
          <%= link_to image_tag(favorite.rant.user.image_url), user_path(favorite.rant.user) %>
        </div>
        <div class="name">
          <%= render partial: 'followings/followLink', locals:{ rant: favorite.rant} %>
        </div>
      </article>
      <article class="rantBody">
        <div>
          <p><%= favorite.rant.rant %></p>
        </div>
      </article>

      <article class="bottom">
        <div>
          <%= link_to "#{Favorite.where(rant_id: favorite.rant.id).length}-Unfavorite", rant_favorite_path(rant_id: favorite.rant.id, id: current_user.id), method: :delete %>
        </div>
      </article>

    </div>
  </li>
</ul>