<ul>
  <li>
    <br>

    <div class="rant">
      <article class="ranter">
        <div class="name">
          <h3><%= favorite.rant.user.first_name.capitalize %></h3>
        </div>
        <div class="image">
          <%= link_to image_tag(favorite.rant.user.image_url), user_path(favorite.rant.user) %>
        </div>
        <div class="name">
          <%= render partial: 'followings/followLink', locals:{ rant: favorite.rant, following_id: favorite.rant.id} %>
        </div>
      </article>
      <article class="rantBody">
        <div>
          <p><%= favorite.rant.rant %></p>
        </div>
      </article>

      <article class="bottom">
        <div>
          <%= render partial: 'favorites/favoriteLink', locals:{title:"My Rants", favorite: favorite.rant, rant: favorite.rant, rantID: favorite.rant.id, userID: favorite.rant.user.id} %>
        </div>
      </article>

    </div>
  </li>
</ul>