<ul>
  <% rant_list.each_with_index do |rant, index| %>
      <li>
        <br>
        <% if index!=0 %>
            <hr width="50%">
        <% end %>
        <div class="rant">
          <article class="ranter">
            <div class="name">
              <h3><%= rant.rant.user.first_name.capitalize %></h3>
            </div>
            <div class="image">
              <%= link_to image_tag( rant.rant.user.image_url), user_path(rant.rant.user) %>
            </div>
            <div class="name">
              <% if rant.rant.user_id != current_user.id %>
                  <% if Following.where(user_following_id: current_user.id, user_being_followed_id: rant.rant.user.id) != [] ? true : false %>
                      <%= link_to "Unfollow", user_following_path(user_id: rant.rant.user, id: current_user.id), method: :delete %>
                  <% else %>
                      <%= link_to "Follow", user_followings_path(rant.rant.user), method: :post %>
                  <% end %>
              <% end %>
            </div>
          </article>
          <article class="rantBody">
            <div>
              <p><%= rant.rant.rant %></p>
            </div>
          </article>
          <article class="bottom">
            <div>
              <% if rant.rant.user_id == current_user.id %>
                  <%= link_to "Delete", rant_path(rant), method: :delete %>
              <% else %>
                  <% if Favorite.where(user_id: current_user.id, rant_id: rant.id) != [] ? true : false %>
                      <%= link_to "Favorite", rant_favorites_path(rant), method: :post %>
                  <% else %>
                      <%= link_to "Unfavorite", rant_favorite_path(rant_id: rant.id, id: current_user.id), method: :delete %>
                  <% end %>
              <% end %>
            </div>
          </article>
        </div>
      </li>
  <% end %>
</ul>