<%= render 'sessionUserPanel/userPanel' %>

<article class="userPanel">
  <div>
    <h1><%= @user.full_name %></h1>
    <%= render partial: 'followings/followLink', locals:{ following_id: @user.id} %>

  </div>
  <hr>
  <div>
    <article class="image">
      <%= image_tag @user.image_url %>
    </article>
    <article class="frequency">
      <h2><%= @user.rant_frequency %> Ranter</h2>
    </article>
  </div>
  <article class="bio">
    <p><%= @user.bio %></p>
  </article>
  <article class="bio">

    <% rants_sorted_by_favorites = @user.rants.all.sort_by { |x| x.favorites.length }.reverse %>

    <% rants_sorted_by_favorites.each_with_index do |rant, index| %>

        <br> <% if index!=0 %> <hr width="50%"> <% end %>

        <h3><%= rant.title %></h3>
        <p><%= markdown(rant.rant).html_safe %></p>
        <%= render partial: 'favorites/favoriteLink', locals:{title:"My Rants", favorite: rant, rant: rant, rantID: rant.id, userID: rant.user.id} %>

    <% end %>


  </article>

</article>

<div>

  <%= form_for :comment do |f| %>

      <article class="enterComment">
        <!--<%= f.label :comment, "Enter your comments here..." %>-->
        <%= f.text_field :comment, placeholder: "Enter your comments here..." %>
      </article>
      <article class="submitButton">
        <%= f.submit "RANT BACK" %>
      </article>
  <% end %>
</div>
