<% if flash[:success] %>
    <div class="flashSuccess"><%= flash[:success] %></div>
<% end %>
<% if flash[:fail] %>
    <div class="flashFail"><%= flash[:fail] %></div>
<% end %>

<article class="profilePanel">
  <%= link_to image_tag(current_user.image_url, class: "profilePicture"), edit_user_path(current_user) %>
  <h2 class="profileName">
    <%= current_user.full_name %>
  </h2>
  <hr>
  <%= form_for @rant, html: {class: 'rantForm'} do |f| %>
      <ul>
        <li class="full">
          <%= f.label :title, "A rant about:" %>
          <%= f.text_field :title %>
        </li>

        <li class="userInfoBio">
          <%= f.label :rant, "Rant:" %>
          <%= f.text_area :rant %>
        </li>
        <li class="submitButton">
          <%= f.submit "RANT" %>
        </li>
      </ul>
  <% end %>
</article>
<article class="rantPanel">
  <h1>My Rants</h1>
  <hr width="90%">
  <ul>
    <% @my_rants.each_with_index do |rant, index| %>
        <li>
        <% if index!=0 %>
            <hr width="50%">
        <% end %>
            <article class="ranter">
              <h3><%= current_user.first_name.capitalize %></h3>
              <%= image_tag(current_user.image_url) %>
              <%= link_to "Follow", root_path %>
            </article>
            <article class="rantBody">
              <p><%= rant.rant %></p>
            </article>
        </li>

    <% end %>
  </ul>
  <h1>Latest Rants</h1>
  <ul>
    <% @latest_rants.each_with_index do |rant, index| %>
        <li>
          <% if index!=0 %>
              <hr width="50%">
          <% end %>
          <article class="ranter">
            <h3><%= rant.user.first_name.capitalize %></h3>
            <%= image_tag(rant.user.image_url) %>
            <%= link_to "Follow", root_path %>
          </article>
          <article class="rantBody">
            <p><%= rant.rant %></p>
          </article>
        </li>
    <% end %>
  </ul>
</article>