<h1><%= title %></h1>
<hr width="90%">

<ul>

  <% rant_list.each_with_index do |rant, index| %>
      <li>
        <br>
        <% if index!=0 %>
            <hr width="50%">
        <% end %>
        <div class="rant">
          <article class="ranter">
            <div class="name">
              <h3><%= rant.user.first_name.capitalize %></h3>
            </div>
            <div class="image">
              <%= link_to image_tag(rant.user.image_url), user_path(rant.user) %>
            </div>
            <div class="name">
              <% if rant.user_id != current_user.id %>
                  <% if Following.where(user_following_id: current_user.id, user_being_followed_id: rant.user.id) != [] ? true : false %>
                      <%= link_to "Unfollow", user_following_path(user_id: rant.user, id: current_user.id), method: :delete %>
                  <% else %>
                      <%= link_to "Follow", user_followings_path(rant.user), method: :post %>
                  <% end %>
              <% end %>
            </div>
          </article>
          <article class="rantBody">
            <div>
              <p>
                <% if rant.rant.length > 900 %>
                    <% distance_to_space = rant.rant[870..920].split("").find_index(".") %>
                    <% scaled_rant = rant.rant[0..870 + distance_to_space] + ".." %>
                <% else %>
                    <% scaled_rant = rant.rant %>
                <% end %>
                <article class="body">
                <%= link_to scaled_rant, rant_path(rant), method: :get %>
                </article>
              </p>
            </div>
          </article>
          <article class="bottom">
            <div>
              <% if rant.user_id == current_user.id %>
                  <%= link_to "Delete", rant_path(rant), method: :delete %>
              <% else %>
                  <% if Favorite.where(user_id: current_user.id, rant_id: rant.id) == [] ? true : false %>
                      <%= link_to "Favorite", rant_favorites_path(rant), method: :post %>
                  <% else %>
                      <%= link_to "Unfavorite", rant_favorite_path(rant_id: rant.id, id: current_user.id), method: :delete %>
                  <% end %>
              <% end %>
            </div>
          </article>
        </div>
      </li>
  <% end %>
</ul>