
<%= render 'sessionUserPanel/userPanel' %>

<article class="rantPanel">
  <article class="bottom">
    <h1><%= @rant.title %></h1>

    <div>
      <%= render partial: 'favorites/favoriteLink', locals:{title:"My Rants", favorite: @rant, rant: @rant} %>

    </div>
  </article>
  <hr width="90%">
  <br>

  <div class="rant">
    <article class="image">
      <%= link_to image_tag(@rant.user.image_url), user_path(@rant.user) %>
      <%= render partial: 'followings/followLink', locals:{ rant: @rant} %>

    </article>

    <article class="body">
      <h3>by <%= link_to @rant.user.full_name, user_path(@rant.user)%></h3><br><br>
      <%= link_to markdown(@rant.rant).html_safe, rant_path(@rant), method: :get %>
    </article>
  </div>

  <br><br>
  <hr width="50%">
  <div class="comments">
    <ul>
      <li>
        <div>
          <article class="commenter">
            <div>
              <%= link_to image_tag(@rant.user.image_url), user_path(@rant.user) %>
            </div>
          </article>
          <article class="comment">
            <div>
              <p>comments on this rant, comments on this rant, comments on this rant, comments on this rant, comments on
                this
                rant, </p>
            </div>
          </article>
        </div>
      </li>
    </ul>
    <br>
    <hr width="50%">
    <br>

    <div>
      <%= form_for [@comment.rant, @comment] do |f| %>

          <article class="enterComment">
            <!--<%= f.label :comment, "Enter your comments here..." %>-->
            <%= f.text_field :comment, placeholder: "Enter your comments here..." %>
          </article>
          <article class="submitButton">
            <%= f.submit "RANT BACK" %>
          </article>
      <% end %>
    </div>
  </div>

</article>