<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="title">
    <h1>Rant.ly</h1>
  </div>
  <div class="userOptions">
    <%= link_to "Login", '/', :class => "loginLink" %>
    <%= link_to "JOIN", new_user_path, :class => "joinButton" %>
  </div>

</nav>

<main>
  <%= yield %>
</main>

</body>
</html>
