<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="title">
    <h1>Rant.ly</h1>
  </div>
  <div class="userOptions">
    <% if session[:user_id] == nil %>
        <%= link_to "Login", new_session_path, :class => "loginLink" %>
        <%= link_to "JOIN", new_user_path, :class => "joinButton" %>
    <% else %>
        <%= button_to "Sign Out", signout_path, method: :delete, :class => 'joinButton' %>
    <% end %>
  </div>

</nav>

<main>
  <%= yield %>
</main>

</body>
</html>
