<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navBar">
  <article class="title">
    <h1>
          <%= link_to "Rant.ly", root_path, :class => "loginLink" %>
    </h1>
  </article>

  <article class="userOptions">
    <% if session[:user_id] == nil %>
    <% else %>
        <%= link_to "Dashboard", root_path, :class => "loginLink" %>
        <%= link_to "Following", user_followings_path(current_user.id), :class => "loginLink" %>
        <%= link_to "Favorites", rants_path, :class => "loginLink" %>
        <%= link_to "Search", root_path, :class => "loginLink" %>
    <% end %>
  </article>

  <article class="loginLogout">
    <% if session[:user_id] == nil %>
        <%= link_to "Login", new_session_path, :class => "loginLink" %>
        <%= link_to "JOIN", new_user_path, :class => "joinButton" %>
    <% else %>
        <%= link_to "Logout", signout_path, method: :delete, :class => 'joinButton' %>
    <% end %>
  </article>

</nav>

<main>

  <%= yield %>
</main>

</body>
</html>
